<!DOCTYPE html>
<html>

<head>
    <title>MARUSANブログ</title>
</head>

<body>
    <div>
        <h1><a href="/">MARUSANブログ</a></h1>
    </div>
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    <div>
        <p>公開日: 2023/10/12, 15:43</p>
        <h2><a href="">2番目の投稿</a></h2>
        <p>こんにちは！よろしくね！誰が翻訳したんだろ～</p>
    </div>

</html>