<!DOCTYPE html>
<html>

<head>
    <title>MARUSANブログ</title>
</head>

<body>
    <header>
        <h1><a href="/">MARUSANブログ</a></h1>
    </header>

    <article>
        <time>published: 10.10.2023, 19:27</time>
        <h2><a href="">第１回目投稿！もうすぐ臨月歩いた方がいいの？すぐ疲れるーー</a></h2>
        <p>というぼやきをつぶやくような取り留めのないブログ</p>
    </article>

    <article>
        <time>published: 10.10.2023, 19:28</time>
        <h2><a href="">テスト投稿２回目ただの丸写し！！</a></h2>
        <p>Hi there!</p>
        <p>It works!</p>
    </article>
</body>

</html>