<!DOCTYPE html>
<html>

<head>
    <title>MARUSANブログ</title>
</head>

<body>
    <header>
        <h1><a href="/">MARUSANブログ</a></h1>
    </header>

    {% for post in posts %}
    <article>
        <time>published: {{ post.publised_date }}</time>
        <h2><a href="">{{ post.title}}/a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}

    <article>
        <time>published: 10.10.2023, 19:28</time>
        <h2><a href="">テスト投稿２回目ただの丸写し！！</a></h2>
        <p>Hi there!</p>
        <p>It works!</p>
    </article>
</body>

</html>